<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">

    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous">
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous">
    </script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous">
    </script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
    <script type="text/javascript" src="https://rawgithub.com/yesmeck/jquery-jsonview/master/dist/jquery.jsonview.js"></script>
    <style>
      .right-frame .full-frame{
        position: relative;
      }

    </style>
  </head>
  <body>
    <!-- Trigger Search -->
    <div class="container p-1">
      <button value="explore" class="btn btn-primary" onclick="venues_explore();">Venues/Explore</button>
      <button value="search" class="btn btn-primary" onclick="venues_search();">Venues/Search</button>
      <button value="food" class="btn btn-success">Food</button>
      <button value="travel" class="btn btn-success">Travel</button>
      {% if no_results %}
      <button id="trigger_api" value="api_response" class="btn btn-outline-info" disabled>API Response</button>
      {% else %}
      <button id="trigger_api" value="api_response" class="btn btn-info">API Response</button>
      {% endif %}
      <div class="form-check col-4 p-1">
        <input class="form-check-input" type="checkbox" onchange="geolocate();" id="useCurrLocation" style="margin-left: 0;">
        <label class="form-check-label" for="useCurrLocation" style="margin-left: 1.25rem;">Use Current Location</label>
      </div>
      <div class="col p-1">
          <input class="form-control" type="text" id="manual_latlng" placeholder="Key in lat long, or the name of a city.">
      </div>

    </div>

    {% if no_results %}

    {% else %}
    <!-- Search Result Display -->
    <div class="d-md-flex h-md-100 p-2 full-frame">
      <!-- First Half -->
      <div id="list-frame" class="col-md-3 p-0 bg-indigo h-md-100">
          <div class="d-md-flex align-items-center h-100 ml-5 text-center">
              <ul class="list-group">
                  {% for feature in result_geojson["features"] %}
                  <li id="marker_trigger_{{ feature['properties']['venueid'] }}" class="list-group-item justify-content-between align-items-center">
                    <a id="modal_trigger_{{ feature['properties']['venueid'] }}">{{ feature["properties"]["venuename"] }}</a>
                    {% if feature["properties"]["rating"] > 0 %}
                    <span class="badge badge-primary badge-pill">{{ feature["properties"]["rating"] }}</span>
                    {% endif %}
                  </li>
                  {% endfor %}
              </ul>
            </div>
          </div>
      <!-- Second Half -->
      <div id="map-frame" class="col-md-9 p-0 bg-white h-md-100 right-frame">
        <div class="d-md-flex h-md-100 p-2 justify-content-center">
          <div class="container">
            <pre id="calls_from"></pre>
            <div id="map" style='width:100%; height:400px'></div>
            <!-- Venue Details Modal -->
            <div class="modal fade" id="venue_detail_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-lg-5">
                        <!--Carousel Wrapper-->
                        <div id="venue_photo_carousel" class="carousel slide carousel-fade carousel-thumbnails"
                          data-ride="carousel">
                          <!--Slides-->
                          <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                              <img id="venue_photo_bestphoto" class="d-block w-100"
                                alt="First slide">
                            </div>
                            <div class="carousel-item">
                              <img class="d-block w-100"
                                id="venue_photo_photo1"
                                alt="Second slide">
                            </div>
                            <div class="carousel-item">
                              <img class="d-block w-100"
                                id="venue_photo_photo2"
                                alt="Third slide">
                            </div>
                          </div>
                          <!--/.Slides-->
                          <!--Controls-->
                          <a class="carousel-control-prev" href="#venue_photo_carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#venue_photo_carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                          <!--/.Controls-->
                          <ol class="carousel-indicators">
                            <li data-target="#venue_photo_carousel" data-slide-to="0" class="active">
                              <img id="venue_photo_bestphoto"
                               width="60">
                            </li>
                            <li data-target="#venue_photo_carousel}" data-slide-to="1">
                              <img id="venue_photo_photo1"
                                 width="60">
                            </li>
                            <li data-target="#venue_photo_carousel" data-slide-to="2">
                              <img id="venue_photo_photo2"
                                 width="60">
                            </li>
                          </ol>
                        </div>
                        <!--/.Carousel Wrapper-->
                      </div>
                      <div class="col-lg-7">
                        <h2 class="h2-responsive" id="venue_name"></h2>
                        <div class="accordion md-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                          <div class="card">
                            <div class="card-header" role="tab" id="venue_details_basic_heading">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse_basic" aria-expanded="true" aria-controls="collapse_basic">
                                <h5 class="mb-0">Basic Info</i></h5>
                              </a>
                            </div>
                            <div id="collapse_basic" class="collapse show" role="tabpanel" aria-labelledby="collapse_basic" data-parent="#accordion">
                              <div id="venue_detail_basic" class="card-body">
                              </div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header" role="tab" id="venue_details_premium_heading">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse_premium" aria-expanded="true" aria-controls="collapse_premium">
                                <h5 class="mb-0">Premium Info</i></h5>
                              </a>
                            </div>
                            <div id="collapse_premium" class="collapse show" role="tabpanel" aria-labelledby="collapse_premium_" data-parent="#accordion">
                              <div id="venue_detail_premium" class="card-body">
                              </div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header" role="tab" id="venue_details_rich_heading">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse_rich" aria-expanded="true" aria-controls="collapse_rich">
                                <h5 class="mb-0">Rich Info</i></h5>
                              </a>
                            </div>
                            <div id="collapse_rich" class="collapse show" role="tabpanel" aria-labelledby="collapse_rich" data-parent="#accordion}">
                              <div id="venue_detail_rich" class="card-body">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- API Response Modal -->
      <div class="modal fade" id="api_response" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">URL</h5>
            </div>
            <div class="modal-body px-4 pt-4 pb-0" style="overflow-y:unset;">
              <a id="api_get_url" href="#" title="Breakdown" data-toggle="popover"><p  >{{ api_get_url }}</p></a>
            </div>
            <div class="modal-header">
              <h5>Response</h5>
            </div>
            <div class="modal-body">
              <pre id="api_response_text"></pre>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" id="toggle-details" class="btn btn-primary">Collapse Details</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    {% endif %}
  </body>
  <script>

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
     if ($("#useCurrLocation").is(':checked')){
       $("#manual_latlng").attr('disabled','disabled');
       if (navigator.geolocation) {
         navigator.geolocation.getCurrentPosition(function(position) {
           geolocation = {
             lat: position.coords.latitude,
             lng: position.coords.longitude
           };
           currLocation = position.coords.latitude.toString() + "," + position.coords.longitude.toString();
           document.getElementById("manual_latlng").value = currLocation;
         });
       }
     }else{
       $("#manual_latlng").attr('disabled',false);
       document.getElementById("manual_latlng").value = "";
     }
    }
    function venues_search(){
     var curr_location = document.getElementById("manual_latlng").value;
     window.location.href = "?cl=" + curr_location + "&search_type=search";
    }
    function venues_explore(){
     var curr_location = document.getElementById("manual_latlng").value;
     window.location.href = "?cl=" + curr_location + "&search_type=explore";
    }

    {% if not no_results %}
    mapboxgl.accessToken = '{{ MAPBOX_ACCESS_KEY }}';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/dark-v10',
      center: [{{ map_center }}],
      zoom: 3
    });

    var canvas = map.getCanvasContainer();
    var result_geojson = {{ result_geojson|safe }};
    var fsq_result = {{ fsq_result|tojson|safe }};
    var map_center = {
      "type": "FeatureCollection",
      "features": [{
        "type": "Feature",
        "geometry": {
          "type": "Point",
          "coordinates": [{{ map_center }}]
        }
      }]
    };
    var point_layers = [{% for feature in result_geojson["features"] %}"point_{{ feature['properties']['venueid'] }}",{% endfor %}];
    var getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = window.location.search.substring(1),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

      for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
              return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
          }
      }
    };
    function onUp(e) {
      var coords = e.lngLat;
      canvas.style.cursor = '';

      // Unbind mouse/touch events
      map.off('mousemove', onMove);
      map.off('touchmove', onMove);
      var search_type=getUrlParameter('search_type')
      window.location.href = "?cl=" + coords.lat + "," + coords.lng + "&search_type=" + search_type;

    }
    function onMove(e) {
      var coords = e.lngLat;

      // Set a UI indicator for dragging.
      canvas.style.cursor = 'grabbing';

      // Update the Point feature in `geojson` coordinates
      // and call setData to the source layer `point` on it.
      map_center.features[0].geometry.coordinates = [coords.lng, coords.lat];
      map.getSource('map_center').setData(map_center);
    }


    map.on('load', function(){
      map.addSource('fsq_result', {
        type:'geojson',
        data: result_geojson
      });

      {% for feature in result_geojson["features"] %}
      map.loadImage('{{ feature["properties"]["category_icon"] }}', function(error, image) {
        if (error) throw error;
        map.addImage('category_icon_{{feature["properties"]["venueid"]}}', image);
        map.addLayer({
          "id": 'point_{{feature["properties"]["venueid"]}}',
          "type": "symbol",
          "source": "fsq_result",
          "filter": ["==","venueid", '{{feature["properties"]["venueid"]}}'],
          "layout":{
            "icon-image":'category_icon_{{feature["properties"]["venueid"]}}',
            "icon-size":0.5,
            "icon-allow-overlap": true,
          }
        });
      });
      {% endfor %}


      map.addSource('map_center',{
        "type": "geojson",
        "data": map_center
      });

      map.loadImage('https://www.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png', function(error, image){
        if (error) throw error;
        map.addImage('drag_point_img', image);
        map.addLayer({
          "id":"drag_point",
          "type":"symbol",
          "source":"map_center",
          "layout":{
            "icon-image":"drag_point_img",
            "icon-allow-overlap": true,
            "icon-size": 1,
            "text-field": "Drag Me",
            "text-font": ["Open Sans Bold", "Arial Unicode MS Bold"],
            "text-size": 11,
            "text-transform": "uppercase",
            "text-letter-spacing": 0.05,
            "text-offset": [0, 0],
            "text-allow-overlap": true
          }
        });
      });


      map.flyTo({center: [{{ map_center }}], zoom: map.getZoom() - 0.5});

      map.on('mouseenter','drag_point', function(){
        canvas.style.cursor = 'move';
      });

      map.on('mouseleave', 'drag_point', function() {
        canvas.style.cursor = '';
      });

      map.on('mousedown', 'drag_point', function(e) {
        // Prevent the default map drag behavior.
        e.preventDefault();
        canvas.style.cursor = 'grab';

        map.on('mousemove', onMove);
        map.once('mouseup', onUp);
        });
      map.on('touchstart', 'drag_point', function(e) {
        if (e.points.length !== 1) return;

        // Prevent the default map drag behavior.
        e.preventDefault();

        map.on('touchmove', onMove);
        map.once('touchend', onUp);
        });





      {% for feature in result_geojson["features"] %}

      $("body").on("mouseover","#marker_trigger_{{ feature['properties']['venueid'] }}",function(){
          for(var i = 0; i < point_layers.length; i++){
            if (point_layers[i] != "point_{{ feature['properties']['venueid'] }}"){
              map.setLayoutProperty(point_layers[i], 'visibility', 'none');
            }
            else{
              map.setLayoutProperty(point_layers[i], 'visibility', 'visible');
            }
          }
            //map.setFilter('markers',["==",['string',['get','venueid']],"{{ feature['properties']['venueid'] }}"]);
        });

      $("body").on("mouseout","#marker_trigger_{{ feature['properties']['venueid'] }}",function(){
        for(var i = 0; i < point_layers.length; i++){

            map.setLayoutProperty(point_layers[i], 'visibility', 'visible');

        }
            //map.setFilter('markers');
        });
      {% endfor %}
    });

    var bounds = new mapboxgl.LngLatBounds();
    result_geojson.features.forEach(function(feature){
      bounds.extend(feature.geometry.coordinates);
    });

    map.fitBounds(bounds);

    $(document).ready(function(){

      document.getElementById("manual_latlng").value=getUrlParameter("cl");
      document.getElementById("calls_from").innerText="Showing calls from: venues/" + getUrlParameter("search_type");
      {% for feature in result_geojson["features"] %}
      $("body").on("click","#modal_trigger_{{ feature['properties']['venueid'] }}",function(){

          $.ajax({
            url:"https://fsq-api.herokuapp.com/details?venueid={{ feature['properties']['venueid'] }}",
            type:'GET',
            contentType:"application/json",
            dataType:"json",
            success: function(data){
              document.getElementById("venue_name").innerText=data.name;
              bestphoto_url = data.bestPhoto.prefix + "300x300" + data.bestPhoto.suffix;
              photo1_url = data.photos.groups[1].items[1].prefix + "300x300" + data.photos.groups[1].items[1].suffix;
              photo2_url = data.photos.groups[1].items[2].prefix + "300x300" + data.photos.groups[1].items[2].suffix;
              $("#venue_photo_bestphoto").attr('src', bestphoto_url);
              $("#venue_photo_photo1").attr('src',photo1_url);
              $("#venue_photo_photo2").attr('src',photo2_url);

              // TODO: add captions to credit photo and date taken

              $("#venue_detail_modal").modal("show");
              //appending modal background inside the blue div
              $('.modal-backdrop').appendTo('#map-frame');
              //remove the padding right and modal-open class from the body tag which bootstrap adds when a modal is shown
              $('body').removeClass("modal-open")
              $('body').css("padding-right","");
            }

          })

      });



      {% endfor %}

      $("body").on("click","#trigger_api",function(){

           $("#api_response").modal("show");

           //appending modal background inside the blue div
           $('.modal-backdrop').appendTo('.full-frame');

           //remove the padding right and modal-open class from the body tag which bootstrap adds when a modal is shown
           $('body').removeClass("modal-open")
           $('body').css("padding-right","");
       });

       $('[data-toggle="popover"]').popover({
         container: "body",
         trigger: "hover",
         placement: "top",
         html: true,
         content: "{% for i in split_string(split_string(api_get_url,'?')[1],'&') %}{{i}}<br/>{% endfor %}"
       });
    });


    $("#api_response_text").JSONView(fsq_result);



    $('#toggle-details').on('click', function() {
      $('#api_response_text').JSONView('toggle', 2);
    });




    {% endif %}
  </script>

</html>
