<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="https://foursquare.com/favicon.ico">


    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous">
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous">
    </script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous">
    </script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
    <script type="text/javascript" src="https://rawgithub.com/yesmeck/jquery-jsonview/master/dist/jquery.jsonview.js"></script>
    <style>
      /* Start by setting display:none to make this hidden.
      Then we position it in relation to the viewport window
      with position:fixed. Width, height, top and left speak
      for themselves. Background we set to 80% white with
      our animation centered, and no-repeating */
      .loading_modal {
        display:    none;
        position:   fixed;
        z-index:    1000;
        top:        0;
        left:       0;
        height:     100%;
        width:      100%;
        background: rgba( 255, 255, 255, .8 )
                    url('http://i.stack.imgur.com/FhHRx.gif')
                    50% 50%
                    no-repeat;
      }

      /* When the body has the loading class, we turn
      the scrollbar off with overflow:hidden */
      body.loading .loading_modal {
        overflow: hidden;
      }

      /* Anytime the body has the loading class, our
      modal element will be visible */
      body.loading .loading_modal {
        display: block;
      }

      .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
      }

      .carousel-control-next-icon {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
      }



    </style>
  </head>
  <body>

    <!-- Trigger Search -->
    <div class="container px-1 pt-2 pb-1 border-bottom shadow-sm">
      <div class="row">
        <div class="col-7">
          <form class="needs-validation" novalidate>
            <div class="form">
              <div class="form-check col-4 p-1">
                <input class="form-check-input" type="checkbox" onchange="geolocate();" id="useCurrLocation" style="margin-left: 0;">
                <label class="form-check-label" for="useCurrLocation" style="margin-left: 1.25rem;">Use Current Location</label>
              </div>
              <div class="col p-1">
                  <input class="form-control" type="text" id="manual_latlng" placeholder="Key in lat long, or the name of a city." required>
                  <div class="invalid-feedback">
                    Please provide a geographic name or coordinate.
                    Check the "Use Current Location" box to generate your current coordinates.
                  </div>
              </div>
            </div>
        </form>
          <ul class="nav">
            <li class="nav-item py-2 px-1">
              <button value="explore" class="nav-link btn btn-primary" onclick="venues_explore();">Venues/Explore</button>
            </li>
            <li class="nav-item py-2 px-1">
              <button value="search" class="nav-link btn btn-primary" onclick="venues_search();">Venues/Search</button>
            </li>
            <li class="nav-item py-2 px-1">

            </li>

            <li class="nav-item py-2 px-1">
              {% if no_results %}
              <button id="trigger_api" value="api_response" class="nav-link btn btn-outline-info" disabled>API Response</button>
              {% else %}
              <button id="trigger_api" value="api_response" class="nav-link btn btn-info">API Response</button>
              {% endif %}
            </li>
          </ul>
        </div>
        <div class="col-2">
          <form>
            <div class="form-group">
              <label for="locale_select"><small>Locale (Optional)</small></label>
              <select id="locale_select" class="form-control">
              </select>
            </div>
            <div class="form-group">
              <label for="section_select"><small>Section (Venues/Explore)</small></label>
              <select id="section_select" class="form-control">
                <option value="na"> - </option>
                <option value="topPicks">Top Picks</option>
                <option value="food">Food</option>
                <option value="drinks">Drinks</option>
                <option value="coffee">Coffee</option>
                <option value="shops">Shops</option>
                <option value="arts">Arts</option>
                <option value="outdoors">Outdoors</option>
                <option value="trending">Trending</option>
              </select>
            </div>
        </form>
        </div>
        <div class="col-3">
          <div class="card text-right py-2 px-1">
            <pre data-toggle="tooltip" data-placement="left" data-html="true" title="Details: </br>Search: </br>Explore: </br>" id="api_calls_tracker"></pre>
            <a data-toggle="modal" data-target="#calc" id="trigger_calc"><pre id="maus"></pre></a>
            <a type="button" class="btn btn-link" href="/">Reset Session</a>
            <!--<a type="button" class="btn btn-link" id="trigger_calc" data-toggle="modal" data-target="#calc">Estimate Usage</a>-->
          </div>
        </div>
      </div>


    </div>

    {% if no_results %}

    {% else %}
    <!-- Search Result Display -->
    <div class="main">
      <div class="container pt-1">
        <form>
          <div class="dropdown">
            <input class="form-control" data-toggle="dropdown" type="text" id="query_input" placeholder="Suggest Complete (More than 3 chars)"  data-display="static">
            <div class="dropdown-menu dropdown-menu-md-right" id="suggestcomplete_dropdown" aria-labelledby="query_input">
            </div>
          </div>
        </form>
      </div>
        <div class="container">
          <div class="row">
          <!-- First Half -->
          <div id="list-frame" class="col-3 p-1 overflow-auto" style="display:block;overflow:scroll;height:400px;">

            <div class="align-items-center text-center">
                <ul id="api-results-list" class="list-group">
                </ul>
            </div>
          </div>
          <!-- Second Half -->
          <div id="map-frame" class="col-9">
            <div class="p-0">
              <div class="container">
                <pre id="calls_from"></pre>
                <div id="map" style='width:100%; height:350px'></div>
                <!-- Venue Details Modal -->
                <div class="modal fade" id="venue_detail_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-lg-5">
                            <!--Photo Carousel Wrapper-->
                            <div>
                              <div id="venue_photo_carousel" class="carousel slide"
                                data-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner" role="listbox">
                                  <div class="carousel-item active">
                                    <img id="venue_photo_bestphoto" class="d-block w-100"
                                      alt="First slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100"
                                      id="venue_photo_photo1"
                                      alt="Second slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100"
                                      id="venue_photo_photo2"
                                      alt="Third slide">
                                  </div>
                                </div>
                                <!--/.Slides-->
                                <!--Controls-->
                                <a class="carousel-control-prev" href="#venue_photo_carousel" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#venue_photo_carousel" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span>
                                </a>
                                <!--/.Controls-->
                                <ol class="carousel-indicators">
                                  <li data-target="#venue_photo_carousel" data-slide-to="0" class="active">
                                    <img id="venue_photo_bestphoto"
                                     width="60">
                                  </li>
                                  <li data-target="#venue_photo_carousel" data-slide-to="1">
                                    <img id="venue_photo_photo1"
                                       width="60">
                                  </li>
                                  <li data-target="#venue_photo_carousel" data-slide-to="2">
                                    <img id="venue_photo_photo2"
                                       width="60">
                                  </li>
                                </ol>
                              </div>
                            </div>
                            <!-- /. Photo Carousel Wrapper-->

                            <!-- Tip Carousel Wrapper-->
                            <div class="p-1">
                              <div id="venue_tip_carousel" class="carousel slide"
                                data-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner" id="venue_tip_carousel_inner" role="listbox">

                                </div>
                                <!--/.Slides-->
                                <!--Controls-->
                                <a class="carousel-control-prev" href="#venue_tip_carousel" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#venue_tip_carousel" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span>
                                </a>

                              </div>
                            </div>
                            <!-- /. Tip Carousel Wrapper-->
                          </div>
                          <div class="col-lg-7">
                            <h5 id="venue_name"></h5>
                            <h6 class="font-italic text-decoration-none " id="venue_id"></h6>


                            <div class="accordion md-accordion pt-1" id="accordion" role="tablist" aria-multiselectable="true">
                              <div class="card">
                                <div class="card-header" role="tab" id="venue_details_basic_heading">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse_basic" aria-expanded="true" aria-controls="collapse_basic">
                                    <h5 class="mb-0">Basic Info</i></h5>
                                  </a>
                                </div>
                                <div id="collapse_basic" class="collapse show" role="tabpanel" aria-labelledby="collapse_basic" data-parent="#accordion">
                                  <div class="card-body p-0">
                                    <ul class="list-group list-group-flush" id="venue_detail_basic">
                                    </ul>
                                  </div>
                                </div>
                              </div>

                              <div class="card">
                                <div class="card-header" role="tab" id="venue_details_premium_heading">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse_premium" aria-expanded="true" aria-controls="collapse_premium">
                                    <h5 class="mb-0">Premium Info</i></h5>
                                  </a>
                                </div>
                                <div id="collapse_premium" class="collapse show" role="tabpanel" aria-labelledby="collapse_premium" data-parent="#accordion">
                                  <div class="card-body p-0">
                                    <ul class="list-group list-group-flush" id="venue_detail_premium">
                                  </div>
                                </div>
                              </div>


                              <div class="card">
                                <div class="card-header" role="tab" id="venue_details_rich_heading">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse_rich" aria-expanded="true" aria-controls="collapse_rich">
                                    <h5 class="mb-0">Rich Info</i></h5>
                                  </a>
                                </div>
                                <div id="collapse_rich" class="collapse show" role="tabpanel" aria-labelledby="collapse_rich" data-parent="#accordion}">
                                  <div class="card-body p-0">
                                    <ul class="list-group list-group-flush" id="venue_detail_rich">
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- API Response Modal -->
          <div class="modal fade" id="api_response" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">URL</h5>
                </div>
                <div class="modal-body px-4 pt-4 pb-0" style="overflow-y:unset;">
                  <a class="text-decoration-none" id="api_get_url" href="#" title="Breakdown" data-toggle="popover"><p  >{{ api_get_url }}</p></a>
                </div>
                <div class="modal-header">
                  <h5>Response</h5>
                </div>
                <div class="modal-body">
                  <pre id="api_response_text"></pre>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" id="toggle-details" class="btn btn-primary">Collapse Details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
    {% endif %}
    <div class="modal fade" id="calc" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-scrollable modal-m" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Monthly Active Users</h5>
          </div>
          <div class="modal-body">
            <form>
              <label for="num_users" class="col-form-label">Number of Users:</label>
              <input type="text" class="form-control" id="num_users">
            </form>
            <p id="calc_answer"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="save_maus()">Save</button>
          </div>
        </div>
      </div>
    </div>
    <div class="loading_modal"></div>
  </body>
  <script>

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function save_maus(){

      var mau_input = document.getElementById("num_users").value;
      console.log(mau_input);
      if (!parseInt(mau_input, 10)){
        mau_input = 1;
      }
      if(localStorage.getItem){
        localStorage.setItem("maus",parseInt(mau_input));
      }else{
        setCookie("maus", parseInt(mau_input));
      }
      change_api_cookie("nochange","total_api_calls");
    }
    function geolocate() {
     if ($("#useCurrLocation").is(':checked')){
       $("#manual_latlng").attr('disabled','disabled');
       if (navigator.geolocation) {
         navigator.geolocation.getCurrentPosition(function(position) {
           geolocation = {
             lat: position.coords.latitude,
             lng: position.coords.longitude
           };
           currLocation = position.coords.latitude.toString() + "," + position.coords.longitude.toString();
           document.getElementById("manual_latlng").value = currLocation;
         });
       }
     }else{
       $("#manual_latlng").attr('disabled',false);
       document.getElementById("manual_latlng").value = "";
     }
    }
    function venues_search(){
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function(form){
        var forms = document.getElementsByClassName('needs-validation');
        var validation = Array.prototype.filter.call(forms, function(form){
          if(form.checkValidity()===false){
            form.classList.add('was-validated')
          }else{
            var curr_location = document.getElementById("manual_latlng").value;
            var locale = document.getElementById("locale_select").value;
            if(locale.length > 0){
              window.location.href = "?cl=" + curr_location + "&search_type=search&locale=" + locale;
            }else{
              window.location.href = "?cl=" + curr_location + "&search_type=search";
            }
          }
        });
      });
    }
    function venues_explore(){
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function(form){
        if(form.checkValidity()===false){
          form.classList.add('was-validated')
        }else{
          var curr_location = document.getElementById("manual_latlng").value;
          var locale = document.getElementById("locale_select").value;
          var section = document.getElementById("section_select").value;
          if (section == "na"){
            if(locale.length > 0){
              window.location.href = "?cl=" + curr_location + "&search_type=explore&locale=" + locale;
            }else{
              window.location.href = "?cl=" + curr_location + "&search_type=explore";
            }
          }else{
            venues_explore_section(section);
          }
        }
      });
    }
    function venues_explore_section(section){
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function(form){
        if(form.checkValidity()===false){
          form.classList.add('was-validated')
        }else{
          var curr_location = document.getElementById("manual_latlng").value;
          var locale = document.getElementById("locale_select").value;
          if(locale.length > 0){
            window.location.href = "?cl=" + curr_location + "&search_type=explore&section=" + section + "&locale=" + locale;
          }
          else{
            window.location.href = "?cl=" + curr_location + "&search_type=explore&section=" + section;
          }
        }
      });
    }
    function readCookie(name) {
      var nameEQ = name + '=';
      var ca = document.cookie.split(';');
      for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
      }
      return null;
    }
    function prettyNumbers(number){
      if (typeof number == "number"){
        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      }else if (typeof number == "string"){
        return number.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      }
    }
    function change_api_cookie(type_of_change,key){
      if (type_of_change == "+"){
        if(localStorage.getItem){
          localStorage.setItem(key,parseInt(localStorage.getItem(key)) + 1);
        }else{
          setCookie(key, parseInt(readCookie(key)) + 1, 1);
        }
      }
      else if (type_of_change == "-"){
        if(localStorage.getItem){
          if(parseInt(localStorage.getItem(key)) - 1 >= 0){
            localStorage.setItem(key,parseInt(localStorage.getItem(key)) - 1);
          }
        }else{
          if(parseInt(readCookie(key)) - 1 >= 0){
            setCookie(key, parseInt(readCookie(key)) - 1, 1);
          }
        }
      }
      else if (type_of_change == "reset"){
          if(localStorage.getItem){
            localStorage.setItem(key,0);
          }else{
            setCookie(key, 0, 1);
          }
      }
      if(key=="total_api_calls"){
        if(localStorage.getItem){
          document.getElementById("api_calls_tracker").innerHTML = "Mthly Call Vol.: " +
          prettyNumbers((parseInt(localStorage.getItem(key)) * 28 * parseInt(localStorage.getItem("maus"))));
          document.getElementById("maus").innerHTML = "MAUs: " +
          prettyNumbers(localStorage.getItem("maus"));
        }else{
          document.getElementById("api_calls_tracker").innerHTML = "Monthly API Call Volume: " + prettyNumbers((parseInt(readCookie(key)) * 28 * parseInt(readCookie("maus"))));
          document.getElementById("maus").innerHTML = "MAUs: " + prettyNumbers(readCookie("maus"));
        }
      }
    }
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
    var supported_locales = ["","en","es","fr","de","it","ja","th","tr","ko","ru","pt","id","zh"]
    {% if no_results %}
    change_api_cookie("reset","maus");
    change_api_cookie("+","maus");
    change_api_cookie("reset","total_api_calls");
    change_api_cookie("reset","details_api_calls");
    change_api_cookie("reset","search_api_calls");
    change_api_cookie("reset","explore_api_calls");
    change_api_cookie("reset","suggestcomplete_api_calls");
    {% else %}


    mapboxgl.accessToken = '{{ MAPBOX_ACCESS_KEY }}';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/dark-v10',
      center: [{{ map_center }}],
      zoom: 3
    });

    var result_venueids = [{% for feature in result_geojson["features"] %}'{{ feature["properties"]["venueid"] }}',{% endfor %}]
    var canvas = map.getCanvasContainer();
    var result_geojson = {{ result_geojson|safe }};
    var fsq_result = {{ fsq_result|tojson|safe }};
    var map_center = {
      "type": "FeatureCollection",
      "features": [{
        "type": "Feature",
        "geometry": {
          "type": "Point",
          "coordinates": [{{ map_center }}]
        }
      }]
    };
    var point_layers = [{% for feature in result_geojson["features"] %}"point_{{ feature['properties']['venueid'] }}",{% endfor %}];
    var getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = window.location.search.substring(1),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

      for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
              return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
          }
      }
    };
    function onUp(e) {
      var coords = e.lngLat;
      canvas.style.cursor = '';

      // Unbind mouse/touch events
      map.off('mousemove', onMove);
      map.off('touchmove', onMove);
      var search_type=getUrlParameter('search_type');
      var locale = document.getElementById('locale_select').value;
      if (locale.length > 0){
        window.location.href = "?cl=" + coords.lat + "," + coords.lng + "&search_type=" + search_type + "&locale=" + locale;
      }else{
        window.location.href = "?cl=" + coords.lat + "," + coords.lng + "&search_type=" + search_type;
      }

    }
    function onMove(e) {
      var coords = e.lngLat;

      // Set a UI indicator for dragging.
      canvas.style.cursor = 'grabbing';

      // Update the Point feature in `geojson` coordinates
      // and call setData to the source layer `point` on it.
      map_center.features[0].geometry.coordinates = [coords.lng, coords.lat];
      map.getSource('map_center').setData(map_center);
    }
    function getRandomInt(max) {
      return Math.floor(Math.random() * Math.floor(max));
    }
    function open_venue_details_modal(venueid){
      var call_url = "https://fsq-api.herokuapp.com/details?venueid="+venueid;
      var locale = document.getElementById("locale_select").value;
      if (locale.length > 0){
        call_url = call_url + "&locale=" + locale;
      }
      $.ajax({
        url:call_url,
        type:'GET',
        contentType:"application/json",
        dataType:"json",
        success: function(data){
          change_api_cookie("+","total_api_calls");
          change_api_cookie("+","details_api_calls");
          document.getElementById("venue_name").innerHTML=data.name + " <span class='badge badge-primary badge-pill' id='venue_rating'></span> <span class='badge badge-pill' id='venue_status'></span>"
          var locale = document.getElementById("locale_select").value;
          var detail_api = "https://fsq-api.herokuapp.com/details?venueid=" + data.id;
          if(locale.length > 0){
            detail_api = detail_api + "&locale=" + locale;
          }
          document.getElementById("venue_id").innerHTML="<a target='_blank' href='" + detail_api + "'>" + data.id + "</a>";

          if("rating" in data){
            document.getElementById("venue_rating").innerHTML=data.rating
          }else{
            document.getElementById("venue_rating").innerHTML="-"
          }

          if("hours" in data){
            var status = data.hours.richStatus.text;
            document.getElementById("venue_status").innerHTML=data.hours.richStatus.text;
            if(status.includes("Permanently Closed")){
              document.getElementById("venue_status").classList.add("badge-danger");
            }else if(status.includes("Closed until")){
              document.getElementById("venue_status").classList.add("badge-warning");
            }else{
              document.getElementById("venue_status").classList.add("badge-success");
            }
          }

          $("#venue_detail_basic").empty();
          var basic_list = document.getElementById("venue_detail_basic");

          var li_address = document.createElement("li");
          li_address.classList.add("list-group-item");
          var formatted_address = ""
          if (data.location.formattedAddress.length > 0){
            for(var address_i = 0; address_i < data.location.formattedAddress.length; address_i++){

              if (address_i < data.location.formattedAddress.length-1){
                formatted_address = formatted_address + data.location.formattedAddress[address_i] + "</br>";
              }else{
                console.log(data.location.formattedAddress[address_i]);
                formatted_address = formatted_address + data.location.formattedAddress[address_i];
              }
            }
          }else{
            formatted_address = data.location.address + "(" + data.location.crossStreet + ")</br>" + data.location.postalCode + "</br>" + data.location.city + ", " + data.location.country;
          }
          li_address.innerHTML = "<small>" + formatted_address + "</small>";
          basic_list.append(li_address);


          var li_latlng = document.createElement("li");
          li_latlng.classList.add("list-group-item");
          li_latlng.innerHTML = "<small>" + data.location.lat.toString() + ", " + data.location.lng.toString() + "</small>";
          basic_list.append(li_latlng);

          var li_categories = document.createElement("li");
          li_categories.classList.add("list-group-item");
          var pri_cat_text = "";
          var other_cat_text = "";
          var pri_cat_img = "";
          for(var cat_i = 0; cat_i < data.categories.length; cat_i++){
            if (data.categories[cat_i].primary){
              pri_cat_text = data.categories[cat_i].name;
              pri_cat_img = data.categories[cat_i].icon.prefix + "bg_88" + data.categories[cat_i].icon.suffix
            }else {
              other_cat_text = other_cat_text + "/" + data.categories[cat_i].name;
            }
          }
          var pri_cat = document.createElement("strong");
          pri_cat.innerHTML = pri_cat_text;
          li_categories.append(pri_cat);

          if (other_cat_text.substring(1).length > 0){
            li_categories.innerHTML = "<small>" + li_categories.innerHTML + " and " + other_cat_text.substring(1) + "</small>";
          }
          basic_list.append(li_categories);

          if("formattedPhone" in data.contact || "url" in data){
            var li_contact = document.createElement("li");
            li_contact.classList.add("list-group-item");
            var phone = "";
            var url = "";

            if ("formattedPhone" in data.contact){
              phone = data.contact.formattedPhone;
            }
            if ("url" in data && "formattedPhone" in data.contact){
              url = " - <a target='_blank' href='"+data.url+"'>"+data.url+"</a>";
            }else if("url" in data && !("formattedPhone" in data.contact)){
              url = "<a target='_blank' href='"+data.url+"'>"+data.url+"</a>";
            }

            var contactHtml = "<small>" + phone + url + "</small>";
            li_contact.innerHTML = contactHtml;
            basic_list.append(li_contact);
          }

          var bestphoto_url = pri_cat_img;
          var photo1_url = pri_cat_img;
          var photo2_url = pri_cat_img;

          if (data.photos.count > 0){
            var num_photos_api = data.photos.groups[1].items.length;
            var photos = data.photos.groups[1].items;
            if ("bestPhoto" in data){
              bestphoto_url = data.bestPhoto.prefix + "300x300" + data.bestPhoto.suffix;
            }
            var random_photo_1, random_photo_2;
            if(num_photos_api >= 2){
              random_photo_1 = getRandomInt(num_photos_api-1);
              photo1_url = photos[random_photo_1].prefix + "300x300" + photos[random_photo_1].suffix;
              while(photo1_url == bestphoto_url){
                random_photo_1 = getRandomInt(num_photos_api-1);
                photo1_url = photos[random_photo_1].prefix + "300x300" + photos[random_photo_1].suffix;
              }
            }
            if(num_photos_api >= 3){
              random_photo_2 = getRandomInt(num_photos_api-1);
              photo2_url = photos[random_photo_2].prefix + "300x300" + photos[random_photo_2].suffix;
              var count = 0;
              while((random_photo_2 == random_photo_1 || photo2_url == bestphoto_url) && count < 10){
                console.log(num_photos_api);
                random_photo_2 = getRandomInt(num_photos_api-1);
                photo2_url = photos[random_photo_2].prefix + "300x300" + photos[random_photo_2].suffix;
                count = count + 1;
              }

            }
          }

          $("#venue_detail_premium").empty();
          var premium_list = document.getElementById("venue_detail_premium");
          var li_phototipcount = document.createElement("li");
          li_phototipcount.classList.add("list-group-item");
          li_phototipcount.innerHTML = "<small>This venue has <strong>" + data.photos.count + " photos </strong> & <strong>" + data.tips.count + "</strong> tips.</small>";
          premium_list.append(li_phototipcount);

          var twitter = "";
          var facebook = "";
          if ("twitter" in data.contact){
            twitter = "<a href='https://twitter.com/" + data.contact.twitter + "'> Twitter </a>";
          }
          if ("facebook" in data.contact){
            facebook = "<a href='https://facebook.com/" + data.contact.facebook + "'> Facebook </a>";
          }
          var li_sns = document.createElement("li");
          li_sns.classList.add("list-group-item");
          li_sns.innerHTML = "<small>" + facebook + " / " + twitter + "</small>";
          premium_list.append(li_sns);

          $("#venue_detail_rich").empty();
          var rich_list = document.getElementById("venue_detail_rich");

          if("phrases" in data){
            var phrases = data.phrases;
            if(phrases.length > 0){
              var li_tastes = document.createElement("li");
              li_tastes.classList.add("list-group-item");
              li_tastes_innerHTML = "<small>This place is known for its ";
              for(var index = 0; index < phrases.length; index ++){
                if (index == phrases.length-1){
                  li_tastes_innerHTML = li_tastes_innerHTML + "<strong>" + phrases[index].phrase + "</strong>.";
                }else if(index == phrases.length-2){
                  li_tastes_innerHTML = li_tastes_innerHTML + "<strong>" + phrases[index].phrase + "</strong> and ";
                }
                else{
                  li_tastes_innerHTML = li_tastes_innerHTML + "<strong>" + phrases[index].phrase + "</strong>, ";
                }

              }
              li_tastes.innerHTML = li_tastes_innerHTML + "</small>"
              rich_list.append(li_tastes);
            }
          }

          if("attributes" in data){
            var attributes = data.attributes.groups;
            var li_attributes= document.createElement("li");
            li_attributes.classList.add("list-group-item");
            var li_attributes_list = document.createElement("ul");
            li_attributes_list.classList.add("list-group");
            for(var index = 0; index < attributes.length; index++){
              var li_attributes_list_item = document.createElement("li");
              li_attributes_list_item.classList.add("list-group-item");
              li_attributes_list_item.innerHTML = "<small>" + attributes[index].items[0].displayName + ": "+ attributes[index].items[0].displayValue + "</small>";
              li_attributes_list.append(li_attributes_list_item);
            }
            li_attributes.append(li_attributes_list);
            rich_list.append(li_attributes);
          }


          $('#venue_tip_carousel_inner').empty();
          var venue_tip_carousel = document.getElementById("venue_tip_carousel");
          if(data.tips.count > 0){
            venue_tip_carousel.classList.remove("invisible");
            venue_tip_carousel.classList.add("visible");

            var tips = data.tips.groups[0].items;
            for(var index=0; index < tips.length; index++){
              var carousel_item = document.createElement("div");
              if (index == 0){
                carousel_item.classList.add("active");
              }
              carousel_item.classList.add("carousel-item");
              var carousel_card = document.createElement("div");
              carousel_card.classList.add("card","text-center","bg-light","border-light");
              var carousel_card_body = document.createElement("div");
              carousel_card_body.classList.add("card-body","mx-4");
              carousel_card_body.innerHTML = "<small class='card-text'>"+ tips[index].text +"</small>";
              carousel_card.append(carousel_card_body);
              carousel_item.append(carousel_card);
              $('#venue_tip_carousel_inner').append(carousel_item);
            }
          }else{
            venue_tip_carousel.classList.add("invisible");
            venue_tip_carousel.classList.remove("visible");
          }

          $("#venue_photo_bestphoto").attr('src', bestphoto_url);
          $("#venue_photo_photo1").attr('src',photo1_url);
          $("#venue_photo_photo2").attr('src',photo2_url);

          // TODO: add captions to credit photo and date taken

          $("#venue_detail_modal").modal("show");
          //appending modal background inside the blue div
          $('.modal-backdrop').appendTo('#map-frame');
          //remove the padding right and modal-open class from the body tag which bootstrap adds when a modal is shown
          $('body').removeClass("modal-open")
          $('body').css("padding-right","");
        }

      });

    }

    change_api_cookie("+","total_api_calls");

    if(getUrlParameter("search_type") == "search"){
      change_api_cookie("+","search_api_calls");
    }else if(getUrlParameter("search_type") == "explore"){
      change_api_cookie("+","explore_api_calls");
    }
    map.on('load', function(){
      map.addSource('fsq_result', {
        type:'geojson',
        data: result_geojson
      });

      {% for feature in result_geojson["features"] %}
      map.loadImage('{{ feature["properties"]["category_icon"] }}', function(error, image) {
        if (error) throw error;
        map.addImage('category_icon_{{feature["properties"]["venueid"]}}', image);
        map.addLayer({
          "id": 'point_{{feature["properties"]["venueid"]}}',
          "type": "symbol",
          "source": "fsq_result",
          "filter": ["==","venueid", '{{feature["properties"]["venueid"]}}'],
          "layout":{
            "icon-image":'category_icon_{{feature["properties"]["venueid"]}}',
            "icon-size":0.5,
            "icon-allow-overlap": true,
          }
        });
      });

      map.on('click', 'point_{{feature["properties"]["venueid"]}}', function (e) {
        var coordinates = e.features[0].geometry.coordinates.slice();
        var venueid = e.features[0].properties.venueid;
        open_venue_details_modal(venueid);
      });

      map.on('mouseenter','point_{{feature["properties"]["venueid"]}}', function (e){
        var list_item;

        for(var index = 0; index < result_venueids.length; index ++){
          list_item = document.getElementById("marker_trigger_" + result_venueids[index]);
          if (result_venueids[index] != "{{ feature['properties']['venueid'] }}"){
            list_item.classList.remove("active");
          }else{
            list_item.classList.add("active");
          }
        }

      });
      map.on('mouseleave','point_{{feature["properties"]["venueid"]}}', function (e){
        var list_item;

        for(var index = 0; index < result_venueids.length; index ++){
          list_item = document.getElementById("marker_trigger_" + result_venueids[index]);
          list_item.classList.remove("active");
        }

      });
      {% endfor %}

      map.addSource('map_center',{
        "type": "geojson",
        "data": map_center
      });

      map.loadImage('https://www.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png', function(error, image){
        if (error) throw error;
        map.addImage('drag_point_img', image);
        map.addLayer({
          "id":"drag_point",
          "type":"symbol",
          "source":"map_center",
          "layout":{
            "icon-image":"drag_point_img",
            "icon-allow-overlap": true,
            "icon-size": 1,
            "text-field": "Drag Me",
            "text-font": ["Open Sans Bold", "Arial Unicode MS Bold"],

            "text-size": 11,
            "text-transform": "uppercase",
            "text-letter-spacing": 0.05,
            "text-offset": [0, 1.3],
            "text-allow-overlap": true
          },
          "paint":{
              "text-color": "rgb(200,200,200)"
          }
        });
      });

      map.flyTo({center: [{{ map_center }}], zoom: map.getZoom() - 0.5});

      map.on('mouseenter','drag_point', function(){
        canvas.style.cursor = 'move';
      });
      map.on('mouseleave', 'drag_point', function() {
        canvas.style.cursor = '';
      });
      map.on('mousedown', 'drag_point', function(e) {
        // Prevent the default map drag behavior.
        e.preventDefault();
        canvas.style.cursor = 'grab';

        map.on('mousemove', onMove);
        map.once('mouseup', onUp);
        });
      map.on('touchstart', 'drag_point', function(e) {
        if (e.points.length !== 1) return;

        // Prevent the default map drag behavior.
        e.preventDefault();

        map.on('touchmove', onMove);
        map.once('touchend', onUp);
        });

      var api_results_list = document.getElementById('api-results-list');
      var api_result;
      {% for feature in result_geojson["features"] %}

      api_result = document.createElement("li");
      api_result.classList.add("list-group-item","justify-content-between","align-items-center");
      api_result.id = "marker_trigger_{{ feature['properties']['venueid'] }}"
      api_result.innerHTML ='<a id="modal_trigger_{{ feature["properties"]["venueid"] }}">{{ feature["properties"]["venuename"] }}</a>'
      api_results_list.append(api_result);

      $("body").on("mouseover","#marker_trigger_{{ feature['properties']['venueid'] }}",function(){
          for(var i = 0; i < point_layers.length; i++){
            if (point_layers[i] != "point_{{ feature['properties']['venueid'] }}"){
              map.setLayoutProperty(point_layers[i], 'visibility', 'none');
            }
            else{
              map.setLayoutProperty(point_layers[i], 'visibility', 'visible');
            }
          }
            //map.setFilter('markers',["==",['string',['get','venueid']],"{{ feature['properties']['venueid'] }}"]);
        });
      $("body").on("mouseout","#marker_trigger_{{ feature['properties']['venueid'] }}",function(){
        for(var i = 0; i < point_layers.length; i++){

            map.setLayoutProperty(point_layers[i], 'visibility', 'visible');

        }
            //map.setFilter('markers');
        });
      $("body").on("click","#modal_trigger_{{ feature['properties']['venueid'] }}",function(){
            open_venue_details_modal("{{ feature['properties']['venueid'] }}");
        });

      {% endfor %}
    });

    var bounds = new mapboxgl.LngLatBounds();
    result_geojson.features.forEach(function(feature){
      bounds.extend(feature.geometry.coordinates);
    });

    map.fitBounds(bounds);

    $(document).ready(function(){

      document.getElementById("manual_latlng").value=getUrlParameter("cl");
      if(getUrlParameter("locale")){
        document.getElementById("locale_select").value=getUrlParameter("locale");
      }else{
        document.getElementById("locale_select").value="";
      }
      document.getElementById("locale_select").value=getUrlParameter("locale");
      document.getElementById("calls_from").innerText="Showing calls from: venues/" + getUrlParameter("search_type");

      $("body").on("click","#trigger_api",function(){

           $("#api_response").modal("show");

           //appending modal background inside the blue div
           $('.modal-backdrop').appendTo('.full-frame');

           //remove the padding right and modal-open class from the body tag which bootstrap adds when a modal is shown
           $('body').removeClass("modal-open")
           $('body').css("padding-right","");
       });

       $('[data-toggle="popover"]').popover({
         container: "body",
         trigger: "hover",
         placement: "top",
         html: true,
         content: "{% for i in split_string(split_string(api_get_url,'?')[1],'&') %}{{i}}<br/>{% endfor %}"
       });


      document.getElementById("query_input").addEventListener('input',(event)=>{
        var query = document.getElementById("query_input").value;
        if(query.length >= 3){
          var curr_location = document.getElementById("manual_latlng").value;
          var locale = document.getElementById("locale_select").value;
          var call_url = "https://fsq-api.herokuapp.com/suggestcomplete?cl="+ curr_location + "&query=" + query;
          if (locale.length > 0){
            call_url = call_url + "&locale=" + locale;
          }
          $.ajax({
            url:call_url,
            type:'GET',
            contentType:"application/json",
            global: false,
            dataType:"json",
            success: function(data){
              change_api_cookie("+","total_api_calls");
              change_api_cookie("+","suggestcomplete_api_calls");
              var sc_dropdown = document.getElementById("suggestcomplete_dropdown");
              sc_dropdown.innerHTML = "";
              if(data.minivenues.length > 0){
                for(var index = 0; index < data.minivenues.length; index ++){
                  sc_dropdown.innerHTML = sc_dropdown.innerHTML + "<a class='dropdown-item' onclick=open_venue_details_modal('" + data.minivenues[index].id +"')>" + data.minivenues[index].name + "</a>"
                }
              }
            }
          });
        }else{
          var sc_dropdown = document.getElementById("suggestcomplete_dropdown");
          sc_dropdown.innerHTML = "";
        }
      });

    });


    $("#api_response_text").JSONView(fsq_result);

    $('#toggle-details').on('click', function() {
      $('#api_response_text').JSONView('toggle', 2);
    });

    {% endif %}
    $body = $("body");

    $(document).on({
        ajaxStart: function() { $body.addClass("loading");    },
        ajaxStop: function() { $body.removeClass("loading"); }
    });

    var locale_select = document.getElementById("locale_select");
    for(var index=0;index < supported_locales.length; index++){
      var select_option = document.createElement("option");
      select_option.innerHTML = supported_locales[index];
      locale_select.append(select_option);
    }

    $("#manual_latlng").keypress(
      function(event){
        if (event.which == '13') {
          event.preventDefault();
        }
    });

    $('#api_calls_tracker').on('show.bs.tooltip', function () {
        var newTitle;
        if(localStorage.getItem){
          newTitle = "<strong>Breakdown</strong>" +
                     "</br>Details: " + localStorage.details_api_calls +
                     "</br>Search: " + localStorage.search_api_calls +
                     "</br>Explore: " + localStorage.explore_api_calls +
                     "</br>Suggest Completion: " + localStorage.suggestcomplete_api_calls +
                     "</br><u>Total: " + localStorage.total_api_calls + "</u>";
        }else{
          newTitle = "<strong>Breakdown</strong>" +
                     "</br>Details: " + readCookie("details_api_calls") +
                     "</br>Search: " + readCookie("search_api_calls") +
                     "</br>Explore: " + readCookie("explore_api_calls") +
                     "</br>Suggest Completion: " + readCookie("suggestcomplete_api_calls") +
                     "</br><u>Total: " + readCookie("total_api_calls") + "</u>";
        }

        $('#api_calls_tracker').attr('title',newTitle).tooltip('_fixTitle');
    })
  </script>

</html>
